{% extends 'layout.html' %}
{% block content %}
    <h1>About Us</h1>
    <p>Examples that focus on implementing uses of built-in components provided by Bootstrap.</p>
      <div class="row">
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        {%  load static %}
      <img src="{%  static 'images/image1.jpg' %}" class="img-responsive margin" style="width:50%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <img src="{%  static 'images/image2.png' %}" class="img-responsive margin" style="width:50%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <img src="{%  static 'images/image3.jpg' %}" class="img-responsive margin" style="width:50%" alt="Image">
    </div>
  </div>
{% endblock %}