{% extends 'layout.html' %}
{% block content %}
<div class="jumbotron text-center">
    <h1>Welcome to ArticleApp</h1>
    <p class="lead">Examples that focus on implementing uses of built-in components provided by Bootstrap.</p>
</div>
<div class="container-fluid bg-1">
<h1>HOME</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id leo in vitae turpis massa sed elementum. Adipiscing tristique risus nec feugiat in fermentum posuere urna. Sapien et ligula ullamcorper malesuada. Vivamus arcu felis bibendum ut tristique et egestas quis. Tempus egestas sed sed risus. Ornare massa eget egestas purus viverra. Faucibus interdum posuere lorem ipsum dolor sit amet. Sed adipiscing diam donec adipiscing tristique. Massa enim nec dui nunc. Magnis dis parturient montes nascetur.</p>
<p>Eget egestas purus viverra accumsan in. Platea dictumst vestibulum rhoncus est pellentesque. Potenti nullam ac tortor vitae purus. Purus sit amet luctus venenatis lectus magna fringilla urna. Dignissim sodales ut eu sem integer vitae justo eget. Quis ipsum suspendisse ultrices gravida dictum fusce ut placerat. At imperdiet dui accumsan sit amet nulla facilisi. Vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam. Nisl nunc mi ipsum faucibus. Habitasse platea dictumst quisque sagittis. Nunc non blandit massa enim nec dui.</p>
<p>Turpis in eu mi bibendum neque egestas congue quisque. Integer eget aliquet nibh praesent tristique magna sit. Risus viverra adipiscing at in. Eleifend donec pretium vulputate sapien nec sagittis. Mi eget mauris pharetra et ultrices. Sapien pellentesque habitant morbi tristique senectus et netus et. Erat pellentesque adipiscing commodo elit at imperdiet dui. Metus vulputate eu scelerisque felis imperdiet proin. Viverra maecenas accumsan lacus vel. Enim nunc faucibus a pellentesque sit amet. Habitasse platea dictumst quisque sagittis purus sit amet volutpat.</p>
</div>
{% endblock %}